header {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.54), rgba(0, 0, 0, 100)), url(../image/banner.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  margin-bottom: 100px;
}
.header {
  padding-top: 250px;
}
.header-title {
  font-size: 50px;
  color: chocolate;
}
.card {
  border: 2px solid rgb(214, 199, 170);
}
.select-btn:disabled {
  background-color: gray;
}
